{% extends 'base_bo.html.twig' %}

{% block title %}Personal index
{% endblock %}

{% block body %}
	{% if is_granted("BLOCKED") %}
		<p id="paragraphBlockedAccount">Votre compte est bloqué</p>
	{% else %}
		{% block content %}
			<h1>Liste des salariés</h1>

			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Username</th>
						<th>Email</th>
						<th>Created_at</th>
						<th>Updated_at</th>
						<th>Entry_date</th>
						<th>Exit_date</th>
						<th>Matricule</th>
						<th>Role</th>
						<th>Manager_id</th>
						<th>Department</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for personal in personals %}
						<tr>
							<td>{{ personal.id }}</td>
							<td>{{ personal.username|e }}</td>
							<td>{{ personal.email|e }}</td>
							<td>{{ personal.createdAt ? personal.createdAt|date('Y-m-d H:i:s')|e : '' }}</td>
							<td>{{ personal.updatedAt ? personal.updatedAt|date('Y-m-d H:i:s')|e : '' }}</td>
							<td>{{ personal.entryDate ? personal.entryDate|date('Y-m-d H:i:s')|e : '' }}</td>
							<td>{{ personal.exitDate ? personal.exitDate|date('Y-m-d H:i:s')|e : '' }}</td>
							<td>{{ personal.matricule|e }}</td>
							<td>{{ personal.roles|join(', ')|e }}</td>
							<td>{{ personal.manager.id}}</td>
							<td>{{ personal.department|e }}</td>
							<td class="d-flex flex-nowrap">
								<a href="{{ path('app_personal_show', {'id': personal.id}) }}" class="btn btn-info btn-sm me-2">
									<i class="fas fa-eye"></i>
								</a>
								<a href="{{ path('app_personal_edit', {'id': personal.id}) }}" class="btn btn-primary btn-sm me-2">
									<i class="fas fa-edit"></i>
								</a>
								{{ include('personal/_delete_form.html.twig', { id: personal.id }) }}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="13">Aucun utilisateur trouvé</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<a href="{{ path('app_personal_new') }}">Ajouter un utilisateur</a>
		{% endblock %}
	{% endif %}
{% endblock %}
