{% extends 'base_bo.html.twig' %}

{% block title %}Index des charges de travail
{% endblock %}

{% block body %}
	<h1>Visualisation des charges de travail</h1>
	<a href="{{ path('app_workload_new') }}" class="btn btn-success">Créer une nouvelle charge de travail</a>
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Niveau de charge</th>
				<th>Date</th>
				<th>Commentaire</th>
				<th>Description</th>
				<th>Heures</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for workload in workloads %}
				<tr class="
																												{% if workload.workloadLevel <= 5 %}
																												workload-bg-low
																												{% elseif workload.workloadLevel >= 6 and workload.workloadLevel <= 8 %}
																												workload-bg-medium
																												{% else %}
																												workload-bg-high
																												{% endif %}
																												">
					<td>{{ workload.id }}</td>
					<td>Niveau
						{{ workload.workloadLevel }}</td>
					<td>{{ workload.date ? workload.date|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ workload.comment }}</td>
					<td>{{ workload.description }}</td>
					<td>{{ workload.hours }}</td>
					<td class="d-flex flex-nowrap">
						<a href="{{ path('app_workload_show', {'id': workload.id}) }}" class="btn btn-info btn-sm me-2">
							<i class="fas fa-eye"></i>
						</a>
						<a href="{{ path('app_workload_edit', {'id': workload.id}) }}" class="btn btn-primary btn-sm me-2">
							<i class="fas fa-edit"></i>
						</a>
						{% include "workload/_delete_form.html.twig" %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">Aucune charge de travail trouvée.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
